.footer-container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(103, 137, 186)!important;
    color: white;
    padding: 1rem;
}

.heart {
    color: #f80d18;
    padding: 5px;
}

@media (max-width: 570px) {
    .footer-container {
        display: grid;
    }

    .text {
        display: flex;
        justify-content: center;
    }

    .padding {
        padding-left: 0.5rem;
    }
}
